version: "3.9"

services:
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: vagrant
      POSTGRES_PASSWORD: password
      POSTGRES_DB: userdb
    ports:
      - "5432:5432"

  web:
    build: ./userapi/src/app
    environment:
      DATABASE_URL: postgresql://vagrant:password@db:5432/userdb
    ports:
      - "8000:8000"
    depends_on:
      - db
