- name: Install PostgreSQL and dependencies
  apt:
    name:
      - postgresql
      - postgresql-contrib
    state: present
    update_cache: yes

# Dynamically detect installed version
- name: Detect PostgreSQL version
  command: "pg_lsclusters --no-header"
  register: pg_version_raw

- name: Extract major version number
  set_fact:
    pg_version: "{{ pg_version_raw.stdout.split()[0] }}"

- name: Create database userdb
  become: yes
  shell: |
    sudo -u postgres psql -tc "SELECT 1 FROM pg_database WHERE datname='userdb'" | grep -q 1 || \
    sudo -u postgres psql -c "CREATE DATABASE userdb;"

- name: Create user vagrant with password
  become: yes
  shell: |
    sudo -u postgres psql -tc "SELECT 1 FROM pg_roles WHERE rolname='vagrant'" | grep -q 1 || \
    sudo -u postgres psql -c "CREATE USER vagrant WITH PASSWORD 'password';"

- name: Grant all privileges on userdb
  become: yes
  shell: sudo -u postgres psql -c "GRANT ALL PRIVILEGES ON DATABASE userdb TO vagrant;"

- name: Allow remote access in pg_hba.conf
  lineinfile:
    path: "/etc/postgresql/{{ pg_version }}/main/pg_hba.conf"
    regexp: '^host\s+all\s+all'
    line: 'host all all 0.0.0.0/0 md5'
  notify: restart postgres
  
- name: Listen on all interfaces
  lineinfile:
    path: "/etc/postgresql/{{ pg_version }}/main/postgresql.conf"
    regexp: "^#?listen_addresses"
    line: "listen_addresses = '*'"
  notify: restart postgres
