apiVersion: v1
kind: Service
metadata:
  name: userapi
  namespace: userapi
spec:
  type: NodePort
  selector:
    app: userapi
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
    nodePort: 30080
