apiVersion: apps/v1
kind: Deployment
metadata:
  name: userapi
  namespace: userapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: userapi
  template:
    metadata:
      labels:
        app: userapi
    spec:
      containers:
      - name: userapi
        image: gallasng/userapi:latest
        env:
        - name: DATABASE_HOST
          value: postgres
        - name: DATABASE_NAME
          value: userdb
        - name: DATABASE_USER
          value: vagrant
        - name: DATABASE_PASSWORD
          value: password

        ports:
        - containerPort: 8000
